

body {
    margin: 0;
    padding: 0;
    background: #01e08f;
}


#continut2{
    padding-top: 200px;
}

#continut{
    max-width:1400px;
    margin: auto;
    background: #eaf6de;
    margin-top: 150px;
    padding-top: 1px;
    color: #013870;
    padding-bottom: 180px;
    margin-bottom: 100px;



}
h1{
    text-align: center;
    margin-right:200px;
    font-family: 'Karantina', cursive;
    font-size: 70px;
    margin-bottom: 200px;



}
h2{margin-left:100px;
    font-family: 'Oxanium',cursive;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom:50px;
    border-left: 3px solid #00db8b;
    padding-left: 40px;

}
.ul1{
    margin: auto;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    justify-content: space-around;
    margin-top: 130px;
    padding: 0;
    background: #013870;
    max-width: 1000px;
    color: #eaf6de;
}

.ul1 li{
    text-align: center;
    padding: 10px;
    outline: #eaf6de solid;
}


.ul2 li{

    padding: 10px;
    outline: #eaf6de  solid;
}

.ul2{  margin: auto;
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: 'Oxanium',cursive;
    justify-content: space-around;
    padding: 0;
    background: #013870;
    max-width: 1000px;
    color: #eaf6de;

}



.nume{
   width:20%;
}
.email{
    width: 35% }
.parola{
    width:20%;
}
.id{
    width: 10%;
}



.ul1 .sterge{
    width: 15%;
    display: flex;
   justify-content: center;
    outline: #eaf6de solid;
    border-left: #eaf6de solid;
    background:#eaf6de;

}

.ul2 .sterge{
    width: 15%;
    display: flex;
    justify-content: center;
    outline: #eaf6de solid;
    border-left: #eaf6de solid;
    border-top: #eaf6de solid;

}



.sterge button{
    border: none;
    font-size: 20px;
    color: #013870;
    font-family: 'Oxanium',cursive;
    width: 100%;
    background:rgb(202,52,51);


}
.sterge button:hover{
    color:#00db8b;
    background: #013870;
    cursor: pointer;
}


.ul1 .sterge button {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #eaf6de;
    font-family: 'Oxanium', cursive;
    width: 100%;
    cursor:initial;

}



