


color{
   color:#013870;
    color: #eaf6de;
    color:#01e08f;
    color:#00db8b;
}

body{
       margin:0;
       padding:0;
    background:#01e08f;
}

nav{
    padding: 10px;
    display: flex;



}

#casutaimg{
    flex-basis: 20%;

}


#nav1{

    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;




}

#nav1 #textsfarsit{
    text-align: end;
    margin-left:10px ;
    margin-right:10px;
    font-size:16px;
    font-weight:bold;
    font-family: 'Krona One', sans-serif;
    flex-basis: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content:flex-end;


}



#nav1 #textmijloc{
    margin-top:0;
    margin-right:10px;
    font-size:16px;
    font-weight:bold;
    font-family: 'Krona One', sans-serif;
    flex-basis: 80%;
    display: flex;
    justify-content:space-around;
    height: 55px;
   max-width: 800px;


}
#nav1 #textmijloc a{
    color:#013870;
    text-decoration: none;
    height: 20px;


}
#nav1 #textsfarsit a{
    color:#013870;
    text-decoration: none;
    margin:20px;
}

#logout{
    color:#013870;
    text-decoration: none;
    margin:20px;

}
#butonout{
    color:#013870;
    text-decoration: none;
    background: transparent;
    border: none;
    font-size:16px;
    font-family: 'Krona One', sans-serif;
    font-weight:bold;


}
#butonout:hover{
    color:#eaf6de;
    cursor: pointer;
}


#nav1 #textsfarsit a:hover{
    color:#eaf6de;
}

#nav1 #textmijloc a:hover{
    color: #eaf6de;
}

#nav1 a i{
   font-size:24px;

}





#insta{
    margin-right:-20px;
}


#title{


    margin-top: -60px;
    display: flex;
    max-width:1600px;
    justify-items: end;
    margin-bottom: 300px;

}
#title h1{
    font-size:170px;
    color: #eaf6de;
    font-family: 'Karantina', cursive;
    text-align: center;
    max-width:700px;
    margin-right:-400px;
    margin-left:auto;
    order:1;
    position: relative;
}

#title img{
    width:800px;
    height:90%;
    margin-left: auto;
    margin-top: 200px;
    order: 2;

}
#pg2{ background:#eaf6de;
    color: #013870;
   max-width: 1200px;
    margin: auto;
    height: 2000px;


}


#titlucontinut{
    background:#eaf6de;
    padding:1px;
    font-size:40px;
    font-family: 'Karantina', cursive;
    color: #013870;
    text-align: center;
    margin: auto;


}

#new{
    font-size: 20px;
    margin: 30px;
    margin-left:100px;
    border-left: #00db8b solid 3px;
    font-family: 'Oxanium',cursive;
   padding-left: 30px;
    margin-bottom: 100px;
    display: flex;



}

#new h1{

}
#casuta{
    margin: auto;
    max-width: 800px;
    border-bottom: #00db8b 2px solid;
    padding-bottom: 40px;

}
#casuta #img1 img{
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;

}
#casuta #img1{
    margin: auto;
    max-width: 600px;
}

#casuta h1{

    font-family: 'Roboto Mono', monospace;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;

}

#casuta p{
    font-size: 19px;
  font-family: 'Roboto Slab', serif;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

#casuta a{
    text-decoration: none;

}

#casuta a h3{
    text-align: end;
    font-family: 'Roboto Mono', monospace;
    max-width: 600px;
    margin: auto;
    color: #013870;
    font-size: 20px;
}
#casuta a h3:hover{
    color:#00DB8BFF;
}


#butoncreare{
    border: none;
    background: #013870;
    text-align: center;
    color: #00db8b;
    font-size: 22px;
    font-family: Oxanium;
    padding: 10px;
    margin-left: auto;
}

#casutacreare{
margin-bottom: 100px;
    margin-left: 130px;
    margin-top: -50px;

}
#butoncreare:hover{
    cursor: pointer;
    color: #d3394c;
}
